<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />



    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="topHeader">
        <div class="logo">
        <img src="images/logo-mercado-liebre.svg" alt="logoMLiebree">
        </div>
        <div class="form">
               <input type="text" placeholder="Escriba acá para buscar productos">
               <i class="fa fa-search"></i>
        </div>
        <p class="cuotas"><i class="fas fa-hand-holding-usd"> </i>Compra en cuotas sin tarjeta de crédito</p>
        </div>


        <nav>
            <ul class="navSitio"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="navUser">
                <li><a href="/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
       
        <div class="burger-menu">
           <button class="burger"> <i class="fas fa-bars"></i></button>
            </div>
        
    
            
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner cuotas sin interés">
    </section>   
    
<!-- ------------------MAIN----------------------------------- -->
<main>  
<form action="/" method="get">
   
<div>
<label class="labRegister" for="nombreape">Nombre y Apellido</label>
<input type="text" id="nombreape" name="nombreape" placeholder="Escriba acá">
</div>

<div>
<label class="labRegister" for="userName">Nombre de Usuario</label>
<input type="text" name="userName" id="userName" placeholder="Escriba acá">
</div>

<div>
<label class="labRegister"for="fechanac">Fecha de Nacimiento</label>
<input type="date" name="fechaNac" id="fechaNac">
</div>

<div>
<label class="labRegister"for="adress">Domicilio</label>
<input type="text" id="adress" name="adress" placeholder="Domicilio">
</div>

<div>
<label class="labRegister">Perfil de usuario</label>
<div class="compraVende">
<input type="radio" name="perfilUsuario" id="comprador" class="compVen"> 
<label for="comprador" class="labOption">Comprador</label>
</div>


<div class="compraVende">
<input type="radio" name="perfilUsuario" id="vendedor" class="compVen">
<label for="vendedor" class="labOption">Vendedor</label>
</div>
</div>

<div>
<label class="labRegister">Categorías de Interés</label>
<div class="compraVende">
<input type="checkbox" name="catInteres" id="electro" class="compVen">
<label for="electro" class="labOption">Electro</label>
</div>

<div>
<input type="checkbox" name="catInteres" id="moda" class="compVen">
<label for="moda" class="labOption">Moda</label>
</div>

<div>
<input type="checkbox" name="catInteres" id="jugueteria" class="compVen">
<label for="jugueteria" class="labOption">Jugueteria</label>
</div>

<div>
<input type="checkbox" name="catInteres" id="vidaSana" class="compVen">
<label for="vidaSana" class="labOption">Vida Sana</label>
</div>

</div>


<div>
<label for="fotoPerfil" class="labRegister">Foto de Perfil: </label>
<input type="file" name="fotoPerfil" id="fotoPerfil" accept="image/*">
</div>

<div>
<label for="fotoPerfil" class="labRegister">Ingrese Contraseña </label>
<input type="password" name="password1" id="password1" placeholder="Digite acá su contraseña">
</div>

<div>
<label for="fotoPerfil" class="labRegister">Reingrese su Contraseña</label>
<input type="password" name="password2" id="password2" placeholder="Repita la Contraseña anterior">
</div>

<div class="buttons">
<button class="btnForm" type="submit" method="/">Enviar</button>
<button class="btnForm" type="reset">Borrar</button>
</div>

</form>

</main>
   
    
<footer>
    <section class="caracFooter">
    <article>
    <div class=icoFooter><i class="fas fa-credit-card"></i></div>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>

    <article>
    <div class="icoFooter"><i class="fas fa-gift"></i></div>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    
    <article>
    <div class="icoFooter"><i class="fas fa-user-shield"></i></div>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
    </article>
</section>

    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>


</body>
</html>


